@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.custom-pre-next {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 1rem 0;
}
.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    list-style: none;
}